.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    &__buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 50px;
    }
}

.colors {
    display: flex;
}

.color {
    margin: 10px;
    // color: var(--tg-theme-bg-color);
    // background-color: var(--tg-theme-text-color);
    width: 10px;
    height: 10px;
    border-width: 5px;
}